<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Fundamentals (Good)</span></div>

# 1 There is more to if

In [3]:
#already annotated in (need) :skull:
name = 'Batman'
if name == 'Batman':
    print('Hello Batman!')
elif name == 'Robin':
    print('Hello Sidekick!')
else:
    print('Hello World!')

Hello Batman!

# 2 Asking questions

In [5]:
fruits = ['apple', 'banana', 'pineapple', 'jackfruit'] #list class instance fruits containing list of 4 strings\n",
vegetables = ['celery', 'potato', 'broccoli', 'kale']

In [6]:
'apple' in fruits #returns true as str "apple" exist in fruits at index 0

True

In [7]:
'peach' not in fruits #returns true as str "peach" does NOT exist in fruits

True

In [8]:
('apple' in fruits) and ('celery' in vegetables) #both conditions were true, and therefore overall AND statement is also true

True

In [9]:
('apple' in fruits) & ('celery' in vegetables) # AND function for bits/boolean

True

In [10]:
('apple' in fruits) or ('shanghai green' in vegetables) #one condition being true would still result in OR statement being true

True

In [11]:
('orange' in fruits) ^ ('lettuce' in vegetables) # XOR function, only for bits/boolean

False

In [12]:
'app' in 'apple' #'in' keyword used to check for value in sequence (list,string,array etc)

True

In [15]:
'apple milkshake' > 'orange' #returns boolean based on size of first ltr of str

False

# 3 Asking Math questions

| Question/Condition     | Math Symbol | Python Symbols |
|------------------------|:-----------:|:--------------:|
| Equals?                |      =      |       ==       |
| Not equal?             |      ≠      |       !=       |
| Less than?             |      <      |        <       |
| Greater than?          |      >      |        >       |
| Less than or equal?    |      ≤      |       <=       |
| Greater than or equal? |      ≥      |       >=       |

In [24]:
x = 9
x > 5 and x < 15
(x > 5) and (x < 15)  #personally preferred
5 < x < 15    
#all 3 statements are asking the same question, just a matter of readability

True

# 4 Python stores information in different formats or types

In [26]:
x = int(1.634) #converts float 1.234 into int class"
print(x,type(x)) #math.floor() performed on value

1 <class 'int'>

In [29]:
x = str(1.234)
print(x,type(x))
#x += 1 #attempting to perform math operations with current instance of x would yield error

1.234 <class 'str'>

In [30]:
x = float(1.234)
print(x,type(x))

1.234 <class 'float'>

In [31]:
x = complex(1.234)
print(x,type(x)) #imaginary parameter is 0

(1.234+0j) <class 'complex'>

# 5 Never compare floats directly

## 5.1 The Problem

In [33]:
a = 0.1
a3 = 0.3
a *3 == a3 #mathematically both are the same, but python does not recognise them as being of the same value

False

In [35]:
f'{0.3:.17f}' #prints 0.3 to 17 dec places, which shows a float of value 0.3 not being 0.3

'0.29999999999999999'

## 5.2 A solution

In [37]:
abs(a*3 - a3)  #absolute value of the difference
abs(a*3 - a3) <1E-15 #comparing the small difference in the 2 floats to another small number. size depends on pickiness

True

In [ ]:
import numpy as np
np.isclose(a*3 - a3,0) #ialternative to using arbitrarily small number i.e 1E-15

# 6 Combining English and variables

In [7]:
name = "batman"
print("my name is " + name) #traditional string concat

my name isbatman

In [6]:
name = "Batman"
print(f"Hello {name}!") #f string version

Hello Batman!

In [5]:
name = "Batman"
print(f"Hello {name.upper()}!")

Hello BATMAN!

In [11]:
name = "Batman"
print("hello " + name.upper() + "!")

hello BATMAN!

In [4]:
x = 10
print(f"The value of {x} squared is {x**2}!")

The value of 10 squared is 100!

In [8]:
x = 10
print("I am " + str(x)) #traditional string concat by translating x to str class

I am 10

In [17]:
import numpy as np
print(f'The cube of pi to 6 decimal places is {np.pi**3:.6f}')

The cube of pi to 6 decimal places is 31.006277

In [18]:
pi_c = "{:.6f}".format(np.pi**3)
print("The cube of pi to 6 decimal places is "+ str(pi_c)) 
#traditional str concat starts to show weakness here, where we still end up relying on format function to present the same output

The cube of pi to 6 decimal places is 31.006277

In [19]:
text = "I am batman"
print(f'|{text:.>30}|')     #f strings tend to be more versatile to allow for formatiing compared to str concat
# prints a block of 30 characters; aligned right

|...................I am batman|

In [28]:
print(f'|{text:x^30}|')      # A block of 30 characters;
                          # aligned centre

|xxxxxxxxxI am batmanxxxxxxxxxx|

In [29]:
print(f'|{text:<30}|')      # A block of 30 characters;
                          # aligned left

|I am batman                   |

## 6.1 Structure of f-strings

f string formatting structure

{X: >0Y.ZW}

| Key | Action                                                                                               |
|-----|------------------------------------------------------------------------------------------------------|
| `W` | Specifies the type of variable:<br>f - float<br>d- integer<br>s- string<br>g - Ask python figure out |
| `X` | Variable to format (Can be a number or a string)                                                     |
| `>` | Alignment Use <, >, ^ for Left, Right and Centre                                                     |
| `Y` | Total number of characters                                                                           |
| `Z` | Number of decimal places                                                                             |
| `0` | Use 0’s to pad the spaces                                                                            |

# 7 Escape sequences

In [48]:
print("Line 1\n\tline 2\n\t\tline 3") #use \ to denote escape sequence
print("\\")                           #can also be used to escape special symbols in markdown, in addition to python

Line 1
	line 2
		line 3
\

In [37]:
print("you're old")    
print('you\'re old')   #use double and single quotations appropriately to make life easier

you're old
you're old

# 8 Computers read = from Right to Left!

In [2]:
x = 40 #assigns value 40 to variable x
y = x + 2 #assigns value x + 2 to y, which gives int value of 42
y = y + 2 #adds 2 to value of y, logical to do so in python

# 9 Shorter and Cleaner Code

In [39]:
y += 2 #basic operation shortened
y -=2
y/= 2
y*= 2
y%= 2 #modulus
y**= 2 #exponential
y//= 2 #floor division

# 10 Python can be a prima-donna.

# 11 Best Practices for Scientific Computing

In [50]:
help(print) #not recommended
#stack overflow is best friend

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

# 12 Looking for help

## References

## Footnotes